/**
 * Site footer
 */
.footer {
    border-top: 5px solid $grey-color-light;
    padding: $spacing-unit 0;
    font-size: 80%;
    color: $grey-color;
    overflow: hidden;

    .followme {
        > p {
            > span {
                @include media-max-query($on-mobile) {
                    display: none;
                }
            }
        }
        a {
            margin: 0 5px 0 5px;
            text-decoration: none;
        }
    }
}