<footer class="footer">

  <div class="wrapper">

    {% if site.description %}  
      <div class="description">
        <p>{{ site.description }}</p>
      </div>
    {% endif %}

    {% if site.disclaimer %}  
      <div class="disclaimer">
        <p>{{ site.disclaimer }}</p>
      </div>
    {% endif %}

    <div class="followme">
      <p>
        <span>Follow Me: </span> 
        {% if site.owner.github %}
          {% include icon-github.html username=site.owner.github %}
        {% endif %}

        {% if site.owner.twitter %}
          {% include icon-twitter.html username=site.owner.twitter %}
        {% endif %}

        {% include icon-rss.html %}

      </p>
    </div>

    {% if site.copyright %}  
      <div class="copyright">
        <p>{{ site.copyright }}</p>
      </div>
    {% endif %}

  </div>

</footer>