/**
 * Site footer
 */
.footer {
    border-top: 5px solid $grey-color-light;
    padding: $spacing-unit 0;
    font-size: 80%;
    color: $grey-color;
    overflow: hidden;

    .followme {
        a {
            margin: 0 3px 0 3px;
        }
    }
}